{{#partial "title" }}
 
  
{{/partial}}

{{#partial "content"}}
   <div class="alert alert-danger">
       <p>
           Your Hero Has Successfully Been Deleted!!!
       </p>
       <button class="btn btn-dark"><a href="/Squad">See Squads</a></button>
       
       

   </div>

{{/partial}}

{{> layout.hbs}}