{{#partial "title" }}
 
  
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

 <h2>Add Heroes To your squad</h2><hr>
  <p class="text-muted">It can be anyone you want!!!</p> 
  
<form action='/Heroes' method="POST">
 <div class="form-group">
   <label for="heroName">Hero's Name:</label>
   <input id="heroName" name="heroName" class="form-control" type="text">
 </div>
 <div class="form-group">
   <label for="age">Age:</label>
   <input id="age" name="age" class="form-control" type="number">
 </div>
 <div class="form-group">
   <label for="superPower">Super Power:</label>
   <input id="superPower" name="superPower" class="form-control" type="text">
 </div>
 <div class="form-group">
   <label for="weakness">Weakness:</label>
   <input id="weakness" name="weakness" class="form-control" type="text">
 </div>

 <button type="submit" class="btn btn-block">
   CREATE
 </button>
</form>
<!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}