<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}HERO SQUAD{{/block}}</title>

    
    <link rel="stylesheet" href="CSS/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
<ul class="nav nav-tabs pull-right">
    <li role="presentation"  class="active"><a style="color: black;" href="/">HOME</a></li>
    <li role="presentation"><a style="color: black;" href="/Squad">SQUADS</a></li>
    <li role="presentation"><a style="color: black;" href="/form">MAKE SQUADS</a></li>
    <li role="presentation"><a style="color: black;" href="/Heroes">HEROES</a></li>
     <li role="presentation"><a style="color: black;" href="/Heroform">MAKE HEROS</a></li>

    
</ul>
<div class="container">
    <!--begin main template-->

    <div class="container">
        
        
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}
